# Node artifacts
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
/dist
/dist-ssr

# Python artifacts
backend/.venv
backend/__pycache__
__pycache__
*.pyc

# Misc
.git
.gitignore
.dockerignore
.env
prempage-webflow
backend/.python-version
backend
